<a href="https://colab.research.google.com/github/Hyoudouisse/EXP-1-java-program-to-print-the-Arithmetic-operations/blob/main/IDS_EX_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
d=pd.read_csv("SAMPLEIDS.csv")

In [ ]:
d

,SNO,REGNO,NAME,DOB,GENDER,ADDRESS,M1,M2,M3,M4,TOTAL,AVG
0,1,1220121,ARUN,2000-02-10,MALE,THANDALAM,82.0,81.0,90.0,NaN,NaN,NaN
1,2,1220122,BABU,1999-01-25,MALE,KANCHIPURAM,56.0,61.0,80.0,56.0,253.0,84.333333
2,3,1220123,CHARAN,2000.09.21,MALE,THANDALAM,NaN,59.0,60.0,70.0,NaN,0.000000
3,4,1220124,DEVA,2000-11-09,MALE,POONAMALEE,74.0,79.0,80.0,74.0,307.0,102.333333
4,5,1220125,ESTER,2000-11-21,FEMALE,CHITHUR,92.0,95.0,96.0,92.0,375.0,125.000000
5,6,1220126,FARHANA,1999-03-05,FEMALE,THANDALAM,91.0,88.0,90.0,91.0,360.0,120.000000
6,7,1220127,GANI,2000-10-02,MALE,KANCHIPURAM,49.0,51.0,70.0,49.0,219.0,73.000000
7,7,1220127,GANI,2000-10-02,MALE,KANCHIPURAM,49.0,51.0,70.0,49.0,219.0,73.000000
8,8,1220128,HEMA,1999-01-25,FEMALE,POONAMALEE,95.0,96.0,90.0,95.0,376.0,125.333333
9,9,1220129,INDRA,2000.09.21,FEMALE,KANCHIPURAM,64.0,NaN,NaN,64.0,NaN,0.000000
10,10,1220130,JAHITH,2000-11-09,MALE,THANDALAM,34.0,45.0,50.0,34.0,163.0,54.333333
11,11,1220131,KANI,2000-11-21,FEMALE,CHITHUR,96.0,95.0,96.0,96.0,383.0,127.666667
12,12,1220132,LATHESSH,1999-03-05,MALE,THANDALAM,NaN,68.0,70.0,70.0,208.0,69.333333
13,13,1220133,MANI,2000-10-02,MALE,KANCHIPURAM,71.0,76.0,NaN,71.0,NaN,0.000000
14,14,1220134,NANI,20001109,MALE,POONAMALEE,79.0,77.0,80.0,79.0,315.0,105.000000
15,15,1220135,NaN,19990125,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000
16,16,1220136,PRATHAP,20000921,MALE,KANCHIPURAM,86.0,84.0,90.0,86.0,346.0,115.333333
17,17,1220137,RAGHU,20001109,MALE,POONAMALEE,67.0,64.0,70.0,NaN,201.0,67.000000
18,18,1220138,RATHI,20001121,FEMALE,KANCHIPURAM,81.0,86.0,90.0,81.0,338.0,112.666667
19,19,1220139,SARVESH,19990305,MALE,THANDALAM,84.0,87.0,NaN,84.0,NaN,0.000000
20,20,1220140,SANTHOSH,20001002,MALE,KANCHIPURAM,76.0,69.0,80.0,76.0,301.0,100.333333

In [ ]:
d.head(4)

,SNO,REGNO,NAME,DOB,GENDER,ADDRESS,M1,M2,M3,M4,TOTAL,AVG
0,1,1220121,ARUN,2000-02-10,MALE,THANDALAM,82.0,81.0,90.0,NaN,NaN,NaN
1,2,1220122,BABU,1999-01-25,MALE,KANCHIPURAM,56.0,61.0,80.0,56.0,253.0,84.333333
2,3,1220123,CHARAN,2000.09.21,MALE,THANDALAM,NaN,59.0,60.0,70.0,NaN,0.000000
3,4,1220124,DEVA,2000-11-09,MALE,POONAMALEE,74.0,79.0,80.0,74.0,307.0,102.333333

In [ ]:
d.tail(4)

,SNO,REGNO,NAME,DOB,GENDER,ADDRESS,M1,M2,M3,M4,TOTAL,AVG
17,17,1220137,RAGHU,20001109,MALE,POONAMALEE,67.0,64.0,70.0,NaN,201.0,67.000000
18,18,1220138,RATHI,20001121,FEMALE,KANCHIPURAM,81.0,86.0,90.0,81.0,338.0,112.666667
19,19,1220139,SARVESH,19990305,MALE,THANDALAM,84.0,87.0,NaN,84.0,NaN,0.000000
20,20,1220140,SANTHOSH,20001002,MALE,KANCHIPURAM,76.0,69.0,80.0,76.0,301.0,100.333333

In [ ]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   SNO      21 non-null     int64
 1   REGNO    21 non-null     int64
 2   NAME     21 non-null     object
 3   DOB      21 non-null     object
 4   GENDER   21 non-null     object
 5   ADDRESS  21 non-null     object
 6   M1       21 non-null     float64
 7   M2       21 non-null     float64
 8   M3       21 non-null     float64
 9   M4       21 non-null     float64
 10  TOTAL    21 non-null     float64
 11  AVG      21 non-null     float64
dtypes: float64(6), int64(2), object(4)
memory usage: 2.1+ KB

In [ ]:
d.isnull().sum()

SNO        0
REGNO      0
NAME       0
DOB        0
GENDER     0
ADDRESS    0
M1         0
M2         0
M3         0
M4         0
TOTAL      0
AVG        0
dtype: int64